src/main/resources/data/item/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.swordsandsorcery.com/item"
           xmlns="http://www.swordsandsorcery.com/item" elementFormDefault="qualified">
    <xs:element name="item">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="flavour" type="xs:string" minOccurs="0"/>
                <xs:element name="equipment" type="xs:boolean" minOccurs="0"/>
                <xs:element name="type" minOccurs="1" type="itemtype"/>
                <xs:element name="subtype" type="itemtype" minOccurs="0"/>
                <xs:element name="price" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="price-entry">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="MONEY"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:int"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="usable" type="xs:boolean" default="false" minOccurs="0"/>
                <xs:element name="use-effect-list" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="effect" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="settings-list" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="effect-setting" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="setting-name" type="xs:string"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element name="setting-value" type="xs:string"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="target" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="weight" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="modifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="modifier" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="modifier" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="ATTACK"/>
                                                    <xs:enumeration value="AIMING"/>
                                                    <xs:enumeration value="DEFENSE"/>
                                                    <xs:enumeration value="SPELL_RESISTANCE"/>
                                                    <xs:enumeration value="DAMAGE"/>
                                                    <xs:enumeration value="RANGED_DAMAGE"/>
                                                    <xs:enumeration value="MAGIC_ATTACK"/>
                                                    <xs:enumeration value="MAGIC_DAMAGE"/>
                                                    <xs:enumeration value="INITIATION"/>
                                                    <xs:enumeration value="LIFE"/>
                                                    <xs:enumeration value="MANA"/>
                                                    <xs:enumeration value="STRENGTH"/>
                                                    <xs:enumeration value="PERCEPTION"/>
                                                    <xs:enumeration value="DEXTERITY"/>
                                                    <xs:enumeration value="TWO_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_AXES"/>
                                                    <xs:enumeration value="MOVEMENT"/>
                                                    <xs:enumeration value="SPELL_RESISTANCE"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                                        <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                                        <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                                        <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                                        <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                                        <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="requirements" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="requirement" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="requirement" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="ATTACK"/>
                                                    <xs:enumeration value="DEFENSE"/>
                                                    <xs:enumeration value="INITIATION"/>
                                                    <xs:enumeration value="LIFE"/>
                                                    <xs:enumeration value="DAGGERS"/>
                                                    <xs:enumeration value="MOVEMENT"/>
                                                    <xs:enumeration value="TWO_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="TWO_HANDED_AXES"/>
                                                    <xs:enumeration value="ONE_HANDED_AXES"/>
                                                    <xs:enumeration value="STAFF"/>
                                                    <xs:enumeration value="WAND"/>
                                                    <xs:enumeration value="FOCUS"/>
                                                    <xs:enumeration value="STRENGTH"/>
                                                    <xs:enumeration value="PERCEPTION"/>
                                                    <xs:enumeration value="DEXTERITY"/>
                                                    <xs:enumeration value="SHORTSWORDS"/>
                                                    <xs:enumeration value="LONGSWORDS"/>
                                                    <xs:enumeration value="POLEARMS"/>
                                                    <xs:enumeration value="SHORTBOWS"/>
                                                    <xs:enumeration value="LONGBOWS"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="itemtype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TWO_HANDED_CRUSHING_WEAPONS"/>
            <xs:enumeration value="ONE_HANDED_CRUSHING_WEAPONS"/>
            <xs:enumeration value="TWO_HANDED_AXES"/>
            <xs:enumeration value="ONE_HANDED_AXES"/>
            <xs:enumeration value="THROWING_WEAPONS"/>
            <xs:enumeration value="LONGSWORDS"/>
            <xs:enumeration value="SHORTSWORDS"/>
            <xs:enumeration value="POLEARMS"/>
            <xs:enumeration value="DAGGERS"/>
            <xs:enumeration value="LONGBOWS"/>
            <xs:enumeration value="SHORTBOWS"/>
            <xs:enumeration value="CROSSBOWS"/>
            <xs:enumeration value="LIGHT_ARMOR"/>
            <xs:enumeration value="HEAVY_ARMOR"/>
            <xs:enumeration value="ROBE_ARMOR"/>
            <xs:enumeration value="SHIELD"/>
            <xs:enumeration value="STAFF"/>
            <xs:enumeration value="WAND"/>
            <xs:enumeration value="SPECTRE"/>
            <xs:enumeration value="MONEY"/>
            <xs:enumeration value="ARROW"/>
            <xs:enumeration value="MATERIAL"/>
            <xs:enumeration value="TOOL"/>
            <xs:enumeration value="RECIPE"/>
            <xs:enumeration value="LIQUID"/>
            <xs:enumeration value="FOOD"/>
            <xs:enumeration value="SPELL_TOME"/>
            <xs:enumeration value="AMULET"/>
            <xs:enumeration value="GLOVES"/>
            <xs:enumeration value="BOOTS"/>
            <xs:enumeration value="HELM"/>
            <xs:enumeration value="PLATELEGS"/>
            <xs:enumeration value="FOCUS"/>
            <xs:enumeration value="WEAPON"/>
            <xs:enumeration value="ARMOR"/>
            <xs:enumeration value="PROJECTILE"/>
            <xs:enumeration value="JEWELRY"/>
            <xs:enumeration value="POTION"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>