src/main/resources/data/configuration/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.swordsandsorcery.com/configuration"
           xmlns="http://www.swordsandsorcery.com/configuration" elementFormDefault="qualified">
    <xs:element name="configuration">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="value" type="xs:int"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>