src/main/resources/data/monster/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.swordsandsorcery.com/monster"
           xmlns="http://www.swordsandsorcery.com/monster" elementFormDefault="qualified">
    <xs:element name="monster">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1"/>
                <xs:element name="type" minOccurs="1" type="monstertype"/>
                <xs:element name="subtype" type="monstertype" minOccurs="0"/>
                <xs:element name="health" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="mana" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="level" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="defense" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="spell-resistance" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="initiation" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attack" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="damage" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="aiming" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ranged-damage" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="magic-damage" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="magic-attack" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="value" type="xs:unsignedInt" minOccurs="1"/>
                            <xs:element name="d2" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d4" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d6" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d8" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d10" type="xs:unsignedInt" minOccurs="0"/>
                            <xs:element name="d20" type="xs:unsignedInt" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attack-type" minOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="MELEE"/>
                            <xs:enumeration value="RANGED"/>
                            <xs:enumeration value="MAGIC"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="droplist" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="drop" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="item" type="xs:unsignedInt" minOccurs="1"/>
                                        <xs:element name="amount" minOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="min" type="xs:unsignedInt" minOccurs="0"/>
                                                    <xs:element name="max" type="xs:unsignedInt" minOccurs="1"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="chance" type="xs:double" minOccurs="1"/>
                                        <xs:element name="identified" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="scavengelist" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="drop" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="item" type="xs:unsignedInt" minOccurs="1"/>
                                        <xs:element name="amount" minOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="min" type="xs:unsignedInt" minOccurs="0"/>
                                                    <xs:element name="max" type="xs:unsignedInt" minOccurs="1"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="chance" type="xs:double" minOccurs="1"/>
                                        <xs:element name="identified" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="monstertype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HUMANOID"/>
            <xs:enumeration value="GOBLIN"/>
            <xs:enumeration value="UNDEAD"/>
            <xs:enumeration value="SKELETON"/>
            <xs:enumeration value="ZOMBIE"/>
            <xs:enumeration value="ORC"/>
            <xs:enumeration value="HUMAN"/>
            <xs:enumeration value="GNOLL"/>
            <xs:enumeration value="ANIMAL"/>
            <xs:enumeration value="BEAST"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>