src/main/resources/data/quest/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.swordsandsorcery.com/quest"
           xmlns="http://www.swordsandsorcery.com/quest" elementFormDefault="qualified">
    <xs:element name="quest">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>